<div class="post-link"><%= link_to @post.title, @post.link %></div>

<%= render partial: "comments/form", locals: { commentable: @post, comment: Comment.new} %>

<table border='1'>
  <% @post.comments.each do |comment| %>
    <tr>
      <td>
      <%= render partial: "comments", locals: { comment: comment } %>
      </td>
    </tr>
  <% end %>
</table>
